<section class="fixed top-0 w-full bg-white shadow-md opacity-90">
  <!-- Navbar -->
  <div class="mx-5 md:mx-[10rem] px-4 py-4 flex items-center justify-between">
    <a href="/" class="text-2xl md:text-4xl font-bold">Re-Loved</a>
    <div class="flex items-center space-x-4 md:space-x-12">
      <img src="/images/light-mode-button.png" alt="" class="h-7 object-contain" id="lightModeButton"
        onclick="toggleMode()" />
      <img src="/images/dark-mode-button.png" alt="" class="h-7 object-contain hidden" id="darkModeButton"
        onclick="toggleMode()" />
      <a href="/" class="hidden md:block border-b-2 text-lg border-transparent hover:border-yellow-500">Home</a>
      <a href="/login" class="border-b-2 border-transparent inline-block">
        <button
          class="rounded px-2 py-2 rounded-full text-xl border bg-yellow-400 font-bold text-white bg-yellow-400 hover:bg-black text-white font-bold py-2 px-4 rounded-full hover:scale-105 duration-200 hover:opacity-40">Sign
          In</button>
      </a>
    </div>
  </div>
  <!-- End Navbar -->
</section>

<section class="mt-[12rem]">
  <div class="mx-3 md:mx-0 flex items-center justify-center">
    <img src="/images/banner.png" alt="" />
  </div>
  <div class="mx-5 mt-[5rem] text-center md:text-lg font-normal text-gray-400 md:mx-[14rem]">
    <p>
      Immerse yourself in the narratives woven into each second-hand gem, adding character and history to your finds. At
      our unique collection, we invite you to rediscover quality, uniqueness, and the joy of sustainable living.
      Recharge
      your connection with meaningful possessions as you indulge in the distinctive stories behind every preloved item,
      turning each acquisition into a special chapter of your own narrative. "Step into a world where ordinary becomes
      extraordinary – a realm of timeless charm and sustainable living. Our carefully curated collection of preloved
      treasures invites you to immerse yourself in the narratives of second-hand splendor. Each item tells a unique
      story, adding
      character and history to your discoveries. Recharge your senses as you explore the distinctive tales behind every
      preloved gem. Join us on this journey of rediscovery, where the ordinary transforms into the extraordinary, and
      every
      acquisition becomes a cherished chapter in your personal narrative. Embrace the joy of mindful living and surround
      yourself with the beauty of thoughtfully chosen, preloved possessions."
    </p>
    <a href="/" class="mt-10 border-transparent inline-block">
      <button
        class="rounded px-14 py-3 rounded-lg text-lg border bg-yellow-300 font-normal text-white hover:bg-yellow-100 hover:text-gray-500">Get
        Started</button>
    </a>
  </div>
</section>
<section>
  <div class="mt-20 flex flex-col md:flex-row items-center justify-center">
    <div class="md:ml-[10rem] md:mr-8 mb-4 md:mb-0">
      <img src="/images/shop.svg" alt="SVG Image" />
    </div>
    <div class="md:ml-20">
      <h2 class="mx-5 md:mx-0 text-4xl font-bold">Re-Loved, Story</h2>
      <p class="mx-5 md:mx-0 mt-5 max-w-[750px] text-gray-400">
        Re-loved is your online destination for cherished items with a history. We bring together a diverse array of
        pre-owned treasures, each with its own story to tell. Discover a curated marketplace where people buy and sell
        gently used
        goods, giving new life to preloved items. Whether you're hunting for unique vintage finds, quality second-hand
        furniture, or fashionable clothing with character, Preloved offers a sustainable and community-driven platform
        for those
        who appreciate the beauty of previously owned possessions. <br /><br />Join our community and embark on a
        journey of rediscovery, where every preloved item becomes a part of a new chapter in its story.
      </p>
      <div class="mx-5 md:mx-0 mt-5 flex gap-5">
        <div class="bg-violet-400 py-5 px-5 rounded-full">
          <i class="fas fa-shopping-cart text-4xl"></i>
        </div>
        <div class="bg-amber-500 py-5 px-5 rounded-full">
          <i class="fas fa-shopping-bag text-4xl"></i>
        </div>
        <div class="bg-green-400 py-5 px-5 rounded-full">
          <i class="fas fa-heart text-4xl"></i>
        </div>
      </div>
      <a href="/search" class="mx-5 md:mx-0 mt-5 border-b-2 border-transparent inline-block">
        <button
          class="rounded px-3 py-2 rounded-full text-md border bg-yellow-400 font-bold text-white bg-yellow-400 hover:bg-yellow-200">Find
          some stuff</button>
      </a>
    </div>
  </div>
</section>

<!-- testimonial  -->
<section>
  <div class="mt-20 flex flex-col md:flex-row items-center justify-center">
    <div class="mx-auto md:mx-0 mt-4 max-w-md">

      <div class="rounded px-6 py-4 text-md border-md text-white bg-black hover:bg-yellow-300 mx-5">
        <h2 class="p-5 justify-center font-bold">Sophie M. - Fashion Enthusiast</h2>
        <p>I stumbled upon this gem of a website while hunting for unique fashion finds. The preloved items here are
          not
          just affordable but also in fantastic condition. My recent purchase was a vintage leather jacket, and I
          couldn't be happier with the quality. 10/10 would recommend!</p>
      </div>
    </div>
    <div class="mx-auto md:mx-0 mt-4 max-w-md">
      <div class="rounded px-6 py-4 text-md border-md text-white bg-black hover:bg-yellow-300 mx-5">
        <h2 class="p-5 justify-center font-bold">Jake T. - Home Decor Lover</h2>
        <p>Finding affordable and stylish home decor is usually a challenge, but not with this site! I've bought several
          preloved items for my apartment, from quirky wall art to vintage furniture. The pieces are always in excellent
          shape, and the prices are unbeatable. My home has never looked better!</p>
      </div>
    </div>
    <div class="mx-auto md:mx-0 mt-4 max-w-md">
      <div class="rounded px-6 py-4 text-md border-md text-white bg-black hover:bg-yellow-300 mx-5">
        <h2 class="p-5 justify-center font-bold">Emily S. - Bookworm Extraordinaire</h2>
        <p>As an avid reader, I'm always on the lookout for budget-friendly books. This website is a book lover's
          paradise! I've built an impressive library without burning a hole in my pocket. The preloved books I've
          received are in great condition, and the variety is vast. A literary haven for sure!</p>
      </div>
    </div>
    <div class="mx-auto md:mx-0 mt-4 max-w-md">
      <div class="rounded px-6 py-4 text-md border-md text-white bg-black hover:bg-yellow-300 mx-5">
        <h2 class="p-5 justify-center font-bold">Alex B. - Gadget Geek</h2>
        <p>If you're into tech and gadgets, this site is a goldmine. I've purchased a couple of preloved gadgets,
          including a top-notch camera and a smartwatch, both at a fraction of the original cost. The condition was as
          good as new, and the savings were incredible. This is my go-to spot for tech deals now!</p>
      </div>
    </div>
    <div class="mx-auto md:mx-0 mt-4 max-w-md">
      <div class="rounded px-6 py-4 text-md border-md text-white bg-black hover:bg-yellow-300 mx-5">
        <h2 class="p-5 justify-center font-bold">Lily P. - Budget-Friendly Mom</h2>
        <p>Being a mom on a budget, I love finding great deals for my family. This website has been a game-changer for
          me. I've bought preloved toys, clothing, and even baby gear at unbelievably low prices. The items arrive in
          excellent condition, and my wallet is thanking me. Highly recommend for fellow moms!</p>
      </div>
    </div>
  </div>


</section>


<section class="mt-10">
  <div class="bg-yellow-300 dark:bg-yellow-300" style="border-radius: 100px 100px 0px 0px">
    <section class="max-w-[1200px] mx-auto">
      <div class="grid md:grid-cols-3 py-5">
        <div class="py-8 px-4">
          <h1 class="sm:text-3xl text-xl font-bold sm:text-left text-justify mb-3 flex items-center gap-3">Re-Loved</h1>
          <p class="">We kaboom your beauty stuff instantly and memorable.</p>
          <br />
          <div class="flex items-center gap-3">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z">
              </path>
            </svg>
            <p>Bandung, Indonesia</p>
          </div>
          <div class="flex items-center gap-3 mt-3">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 320 512" height="1em"
              width="1em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
              </path>
            </svg>
            <p>+62 93430432</p>
          </div>
          <div class="flex items-center gap-3 mt-6">
            <a href="https://www.instagram.com/vinapatriciaa" target="_blank" rel="noopener noreferrer"><svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" class="text-3xl"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                </path>
              </svg></a><a href="https://www.discord.com/in/vina#4837" target="_blank" rel="noopener noreferrer"><svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" class="text-3xl"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z">
                </path>
              </svg></a><a href="https://www.linkedin.com/in/vina-patricia/" target="_blank"
              rel="noopener noreferrer"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                viewBox="0 0 448 512" class="text-3xl" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
                </path>
              </svg></a>
          </div>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 col-span-2 md:pl-10">
          <div class="">
            <div class="py-8 px-4">
              <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">For Guest</h1>
              <ul class="flex flex-col gap-3">
                <li class="cursor-pointer"><a href="/signup">New Account</a></li>
                <li class="cursor-pointer"><a href="/search">Start Find a Stuff</a></li>
                <li class="cursor-pointer"><a href="/payments">Use Payments</a></li>
                <li class="cursor-pointer"><a href="/FAQ">FAQ</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="py-8 px-4">
              <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">Explore Us</h1>
              <ul class="flex flex-col gap-3">
                <li class="cursor-pointer"><a href="/careers">Our Careers</a></li>
                <li class="cursor-pointer"><a href="/privacy">Privacy</a></li>
                <li class="cursor-pointer"><a href="/terms">Terms &amp; Conditions</a></li>
                <li class="cursor-pointer"><a href="/services">Services</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="py-8 px-4">
              <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">Connect Us</h1>
              <ul class="flex flex-col gap-3">
                <li class="cursor-pointer">support@ReLoved.id</li>
                <li class="cursor-pointer">021 - 2208 - 1996</li>
                <li class="cursor-pointer">Re-Loved, Bandung, Indonesia</li>
                <li class="cursor-pointer"><a href="/signin">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="text-center py-10 border-t-2 border-black">Copyright 2023 • All rights reserved • Re-Loved.</div>
      </div>
    </section>
  </div>
</section>
<script>
  function toggleMode() {
    const lightModeButton = document.getElementById("lightModeButton");
    const darkModeButton = document.getElementById("darkModeButton");

    lightModeButton.classList.toggle("hidden");
    darkModeButton.classList.toggle("hidden");

    document.body.classList.toggle("dark-mode");

    const isDarkMode = document.body.classList.contains("dark-mode");
    localStorage.setItem("darkMode", isDarkMode);
  }

  const savedDarkMode = localStorage.getItem("darkMode") === "true";
  if (savedDarkMode) {
    toggleMode();
  }
</script>